body{
  background-color: #bac7ff;
}
#habbit {
  color: rgb(0, 4, 255);
  border-style: solid;
  /* border-color: lawngreen; */
  border-width: 2px;
  background: rgb(245, 115, 175);
}


#boxImg{
  float:left;
}
#title{
  font-family: "Benton Sans", "Helvetica Neue", helvetica arial, sans-serif;
  color: gray;
  float: right;
  padding-right: 200px;
}
.description{
  float: left;
}
#features{
  float: left;
}