#habbit{
   font-family: "Benton Sans", "Helvetica Neue", helvetica arial, sans-serif;
}
.placeholder{
  background-c
}
#boxImg{
  padding-top: 100px;
}
#title{
  font-family: "Benton Sans", "Helvetica Neue", helvetica arial, sans-serif;
  color: gray;
  float: right;
}
.description{

}
#features{

}