html, body {
    background-color: #fe9a92 !important;
}
#habbit {
  text-align: center;
  color: rgb(0, 4, 255);
}

#title{
  font-family: "Benton Sans", "Helvetica Neue", helvetica arial, sans-serif;
  color: black;
  float: left;
  padding-left: 3%;
  /* margin-top: 4%; */
}
#belowH{
  text-align: left;
  margin-right: 600px;
  margin-left: 100px;
  /* position: static;  */
}

/* .description{
  float: left;
  color: gray;
  padding-left: 4%;
  
}
#price{
  color: gray;
  padding-left: 4%;
  float: left;
}

#features{
  float: left;
  color: gray;
  padding-left: 4%;
}*/
#boxImg{
  margin-top: 5%;
  float: left;
  margin-left: 30px;
}
button{
  padding: 14px 16px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
  float: left;
  margin-left: 20%;
  background-color: #06f;
  color: white;
  border: transparent; 
  margin-left: 70%;
}


li{
  list-style-position: inside;
  text-align: center;
  margin-right: 25%;
}
ul {
  display: inline-block;
}
.titles{
  margin-left: 35%;
}
#des{
  text-align: center;
}
/* li{
  float: left;
  margin-left: 30px;
} */